fastapi>=0.110.0
uvicorn[standard]>=0.28.0
playwright>=1.42.0
playwright-stealth>=1.0.6
pydantic>=2.6.4
pydantic-settings>=2.2.1
beautifulsoup4>=4.12.3
yt-dlp>=2024.3.10
curl_cffi>=0.7.1
gallery-dl>=1.26.1
streamlink>=6.7.3
cloudscraper>=1.2.71
